<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/logo.png") %>">
    </div><div class="right">
      <h2 class="vue">Vue.js</h2>
      <h1>
        The Progressive<br>JavaScript Framework
      </h1>
      <p>
        <a class="button" href="<%- url_for("/v2/guide/") %>">BẮT ĐẦU</a>
        <a class="button white" href="https://github.com/vuejs/vue" target="_blank">GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Thân thiện - Dễ hiểu</h2>
      <p>Bạn đã có kiến thực HTML, CSS, Javascript? Xem hướng dẫn và bắt đầu ngay thôi!</p>
    </div>

    <div class="point">
      <h2>Đa năng</h2>
      <p>Đơn giản, gọn nhẹ với từng bước nhỏ nhưng có thể xử lý được mọi ứng dụng lớn nhỏ</p>
    </div>

    <div class="point">
      <h2>Mạnh mẽ</h2>
      <p>
        18kb min+gzip Runtime<br>
        Nhanh chóng với Virtual DOM<br>
        Tối ưu hóa tối đa
      </p>
    </div>
  </div>
</div>

<div id="sponsors">
  <div class="inner">
    <h3>TÀI TRỢ BỞI</h3>
    <%- partial('partials/sponsors') %>
    <br>
    <a class="become-sponsor button white" href="<%- url_for("/support-vuejs/") %>">Trở thành Backer</a>
  </div>
</div>

<div id="footer">
  Phát hành với <a href="https://opensource.org/licenses/MIT" href="_blank">MIT License</a><br>
  Bản quyền thuộc về &copy; 2014-<%- new Date().getFullYear() %> Evan You<br>
  Dịch bởi <a href="https://vuejs.vn" href="_blank">Vuejs Vietnam Team</a>
</div>

<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
